/* Education Qualification */


.qualification-container{
    grid-template-columns: repeat(3,1fr);
   
     }
.qualification-tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);

}

.qualification-button{
    font-size: var(--h3);
    font-weight:var(--font-medium);
    cursor: pointer;
   
}

.qualification-button:hover{
    color: var(--first-color-2nd);
    
}

.qualification-icon{
    font-size:28px ;
    margin-right:var(--mb-0-25);
    justify-content: center;
    

}

.qualification-data{
    
    display: flex;
  /* grid-template-columns:1fr max-content; 1fr  middle e thaklo sob likha */
    column-gap: 20px; 
    margin-top:var(--mb-1);

    /* margin-bottom: 20px; */
      
}

.qualification-title{
    font-size: var(--h3);
    font-weight: var(--font-medium);
   
}

.qualification-subtitle{
    display: inline-block;
    font-size: var(--small-font);
    font-weight: var(--font-medium);
    margin-bottom:var(--mb-0-5);
}

.qualification-calender{
    
    font-size: var(--smaller-font);
    color: var(--text-color-light);
    
}

.qualification-point{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
    

}

/* .qualification-line{
    display: block;
    background-color: var(--first-color);
    width: 1px;
    height: 100%;
    transform: translate(6px,-10px);

} */

.qualification [data-content]{
    display: none;
}

.qualification-active[data-content]{
    display: block;
}

.qualification-button {
    color: var(--title-color);
   
}


.qualification-content {
    
    padding: 0 0 20px 50px;
    
}



#education{
    
    background-color: #CEDEBD;
    border-radius:50px ;
    margin:0 0 50px 0;
    padding:20px 20px 0 20px;

}

#course{
    background-color: #CEDEBD;
    border-radius:50px ;
    padding:20px  20px 0 20px;
}